/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,500,700,900,800);*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@font-face { font-family: "KB Tiny Red Whale"; src: url(../fonts/KBTinyRedWhale.ttf); }
@font-face { font-family: "Schoolbell"; src: url(../fonts/Schoolbell.ttf); }
@font-face { font-family: "OpenSans-ExtraBold"; src: url(../fonts/OpenSans-ExtraBold.ttf); }

/* PLUGIN FLEXISEL */
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    /*float:left;*/
    width:100%;
    max-width: 1000px;
	margin: 0 auto;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    /*line-height:0px;*/
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100%;
    max-height:100%;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 106px;
	height: 99px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
    top: 120px;
}

.nbs-flexisel-nav-left {
    left: -30px;
    background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -30px;
    background: url(../img/button-next.png) no-repeat;
}
/* END PLUGIN FLEXISEL */

body {
	background: #000;
	font-family: "Metrophobic", Arial, serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: transparent;
	-webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-webkit-transform-style: preserve-3d;
	/*position: relative;*/
}

.clear { clear: both;}

.wrapper{ width: 100%; /*height: 100%;*/ margin: 0; overflow: hidden; position: relative; z-index: -1; }

.button-link { height: 40px; margin-top: 15px; }
.button-link a { text-decoration: none; background: #254188; padding: 5px 10px;  text-align: center; border-radius: 5px; color: #fff; position: relative; box-shadow: 0 5px #192a5b; -webkit-transition: none; -moz-transition: none; transition: none; }
.buton-link a:hover { box-shadow: 0 3px #192a5b; top: 2px; }
.button-link a:active { box-shadow: 0 0 #ab3c3c; top: 6px; }

.popupbox { background-repeat:no-repeat; display: none; float: left; position: fixed; top: 50%; left: 50%; font-family: "Schoolbell"; color: #df36e0; z-index: 99999; }
#fade { display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: .80; z-index: 9999; }

/** NAVBAR **/
#navbar { width: 100%; z-index: 9999; color: white; }
.home #navbar { position: fixed; }
#navbar.fixed { position: fixed; }
/*#navbar .logo-text { margin-top: 40px; margin-left: 40px; padding: 15px 0; }*/
#navbar .logo-text span { font-size: 0px; font-weight: bold; }
#navbar img.logo { margin-top: 10px; margin-left: 100px; }
#navbar #share { margin: 38px 0 0 45px; }
/*#navbar .desktop { background: url(../img/bg-menu.png) no-repeat; }*/
#navbar .desktop .menu-container{ margin: 59px 0 0 0; position: absolute; left: 34%; }
#navbar ul.menu { list-style-type: none; margin: 0; padding: 0; margin-top: 15px; }
#navbar ul.menu li { padding: 16px 25px 15px; text-align: center; float: left; }
#navbar ul.menu li#first-menu { transform: rotate(-2deg); padding-top: 9px; }
#navbar ul.menu li#second-menu { transform: rotate(2deg); padding-top: 13px; padding-left: 40px; }
#navbar ul.menu li#third-menu { transform: rotate(-1deg); padding-top: 19px; }
#navbar ul.menu li a { font-family: "Raleway", Arial, sans-serif, helvetica; text-decoration: none; color: white; font-size: 22px; font-weight: bold; /*text-shadow: 2px 2px #fff;*/ }

#navbar .desktop .share-container { margin: 48px 0 0 0; position: absolute; right: 13%; }
#share { text-align: center; }
#share a.icons { width: 25px; height: 20px; display: inline-block; text-align: center; color: #fff; text-indent: -99999em; }
#share .facebook { border-right: #fff 1px solid; background: url('../img/facebook-icon.png') no-repeat; }
#share .twit { background: url('../img/twitter-share.png') no-repeat; margin-left: 5px; }

/* SUB MENU */
#navbar ul.menu .sub-menu { position: absolute; width: 400px; left: 0; right: 0; top: 47px; z-index: -1; display: none;  background: url(../img/bg-dropdown.png) no-repeat; height: 0px;  padding: 15px 0; transform: rotate(2deg); -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#navbar ul.menu li.expanded .sub-menu { left: 0; height: 160px; z-index: 1000; opacity: 1; display: block !important; }
#navbar ul.menu li.expanded .sub-menu ul { list-style-image: url('../img/circle-list-style.png'); }
#navbar ul.menu li.expanded .sub-menu ul li.sub-menu-child { padding-top: 0px; padding-right: 40px; padding-bottom: 0px; padding-left: 0px; }
#navbar ul.menu li.expanded .sub-menu ul li.sub-menu-child.birthday { padding-right: 71px; }
#navbar ul.menu li.expanded .sub-menu ul li.sub-menu-child a { font-family: "KB Tiny Red Whale"; font-size: 19px; }
/* END SUB MENU */

/* HOME */
body.home{ background: url(../img/bg.jpg) no-repeat; background-size: cover; }
body.home .wrapper { height: 100%; }
.clouds{ display:block; width:100%; height:100%; position:absolute; z-index:1; background:url(../img/clouds.png) repeat-x top center; }
.clouds{ -webkit-animation: moveclouds 35s linear infinite; -moz-animation: moveclouds 10s linear infinite; -o-animation: moveclouds 10s linear infinite; }

/*.oval-bg { width: 100%; display: inline-block; overflow: hidden; background: url(../img/oval.png) no-repeat bottom center; position: fixed; bottom: 0; height: 473px; }*/
.ovalContainer { display:block; width:100%; /*min-width:1200px;*/ margin:0 auto; position:absolute; bottom:0; overflow:hidden; z-index:2; }
.oval-bg { width: 100%; height: 824px; display: inline-block; overflow: hidden; }
.ovalContainer .oval-bg ul { list-style-type: none; left: 0 !important; } 
li.child { position: absolute; }
.child { width: 1200px; height: 624px; bottom: 0; }
.buildingContainer { display: block; width: 100%; height: 624px; position: relative; bottom: 44px; z-index: 2; }
.buildingImg { position: absolute; display: block; bottom: 44px; text-align: center; left: 50%; }
.landingNavBg { position: absolute; bottom: 0; height: 100%; width: 100%; /*min-width: 1200px;*/ }
.landingNavBgImg { position: absolute; bottom: 0; left: 17%; }
/*.landingNavBgImg img { display: block; }*/
.landingNavBgImg .feature-kids-button { position: absolute; bottom: 10px; left: 50%; }
.landingNavBgImg .feature-kids-button a { display: block; position: relative; z-index: 999; cursor: pointer; }
.landingNavBgImg .feature-kids-button span { text-align: center; color: #fff; font-size: 22px; font-family: "KB Tiny Red Whale"; margin-left: -37px; margin-top: 10px; }

/*#feature.ovalContainer { background: url(../img/pattern-ungu.jpg) repeat-x bottom center; }*/
#feature .title-feature { text-align: center; font-family: "KB Tiny Red Whale"; font-size: 22px; color: #fff; }
#feature .title-feature.open { margin-bottom: -75px; }
#feature .title-feature a { display: block; }
#feature .title-feature span { margin-top: 10px; display: block; }
#feature .toggle .open { display: none; }
#feature.expanded .toggle .open { display: block; }
#feature .toggle .closed { display: block; }
#feature.expanded .toggle .closed { display: none; }
#feature.ovalContainer .oval-bg { background: url(../img/pattern-ungu.jpg) bottom center; height: 486px; /*border-top: #fff solid;*/ /*padding-top: 90px;*/ display: block; }
#feature.ovalContainer .oval-bg { height: 0px; }
#feature .oval-bg #carousel { width: 91%; height: 385px; }
#feature .oval-bg .kids { float: left; width: 220px !important; margin: 10px 15px; text-align: center; }
#feature .oval-bg .kids .box-image { max-width: 220px !important; }
#feature .oval-bg .kids .box-image img { width: 100%; }
#feature .oval-bg .kids .article { font-family: "Schoolbell"; color: #fff; text-align: center; /*margin-top: 10px;*/ }
#feature .oval-bg .kids .title { font-size: 33px; }
#feature .oval-bg .kids .excerpt { font-size: 15px; }

.bunga-container { position: absolute; /*bottom: -200px; left: -200px;*/ }
.bunga-1 { bottom: 0; -webkit-animation: bungaterbang 7s infinite ease-in-out; -moz-animation: bungaterbang 7s infinite ease-in-out; -ms-animation: bungaterbang 7s infinite ease-in-out; -o-animation: bungaterbang 7s infinite ease-in-out; animation: bungaterbang 7s infinite ease-in-out; }
.bunga-2 { bottom: 0; left: 50px; -webkit-animation: bungaterbang 7s infinite ease-in-out; -moz-animation: bungaterbang 7s infinite ease-in-out; -ms-animation: bungaterbang 7s infinite ease-in-out; -o-animation: bungaterbang 7s infinite ease-in-out; animation: bungaterbang 7s infinite ease-in-out; }
.bunga-banyak { bottom: 60px; left: 50px; -webkit-animation: bungaterbang 7s infinite ease-in-out; -moz-animation: bungaterbang 7s infinite ease-in-out; -ms-animation: bungaterbang 7s infinite ease-in-out; -o-animation: bungaterbang 7s infinite ease-in-out; animation: bungaterbang 7s infinite ease-in-out; }
.balon-udara-small { right: 320px; top: 170px; }
/* END HOME */

/* SHOPS */
body.shop{ background: url(../img/bg-shop-real.jpg) no-repeat; background-size: cover; }
.wrapper .container .content { margin-top: 30px; margin-left: 70px; }
.wrapper .container .content .title-shop { text-align: center; font-size: 70px; }
.wrapper .container .content .tvc { background: url('../img/tvc.png') no-repeat; width: 285px; height: 310px; margin-top: 35px; margin-left: 70px; }
.tvc ul { /* padding-top: 110px; */ /* padding-left: 80px; */ font-family: "Schoolbell"; color: #fff; font-size: 17px; overflow-y: scroll; overflow-x: hidden; position: absolute; bottom: 45px; left: 125px; height: 145px; }
.tvc ul li { list-style-type: decimal; max-width: 145px; }
.tvc ul li a { color: #fff; text-decoration: none; }

.tvc ul::-webkit-scrollbar, #popup1 .content .article::-webkit-scrollbar { width: 12px; }
.tvc ul::-webkit-scrollbar-thumb, #popup1 .content .article::-webkit-scrollbar-thumb { background-color: #ccc; }
.tvc ul::-webkit-scrollbar-track, #popup1 .content .article::-webkit-scrollbar-track { background-color: #eaeaea; border-left: 1px solid #ccc; }

.product-container { margin-top: 70px; font-family: "Schoolbell"; font-size: 15px; color: #fff; }
.product-child .article { height: 37px; }
.product-child .article .title { background: #e50808; font-size: 24px; padding: 0px 20px; border-radius: 20px; }
.product-child .article .title:after, .product-child .article .title:before { top: 33px; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.product-child .article .title:after { border-color: rgba(136, 183, 213, 0); border-top-color: #e50808; border-width: 8px; }

.product-container #product .product-child .button-link { height: 40px; margin-top: 15px; }
.product-container #product .product-child .button-link a { text-decoration: none; background: #254188; padding: 5px 10px;  text-align: center; border-radius: 5px; color: #fff; position: relative; box-shadow: 0 5px #192a5b; -webkit-transition: none; -moz-transition: none; transition: none; }
.product-container #product .product-child .button-link a:hover { box-shadow: 0 3px #192a5b; top: 2px; }
.product-container #product .product-child .button-link a:active { box-shadow: 0 0 #ab3c3c; top: 6px; }
/*.product-container #product .product-child .button-link a:active { box-shadow: 0px 5px 1px #192a5b; }*/
/*.product-container #product .product-child .button-link a:active { -webkit-transform: translate(0, 5px); }*/

.product-container .nbs-flexisel-nav-left { left: 0; background: url(../img/prev-product.png) no-repeat; }
.product-container .nbs-flexisel-nav-right { background: url(../img/next-product.png) no-repeat; }
.product-container .nbs-flexisel-nav-left, .product-container .nbs-flexisel-nav-right { width: 40px; height: 80px; position: absolute; cursor: pointer; z-index: 100; }
.product-container #product .product-child.nbs-flexisel-item img { width: initial; }
/*.wrapper .container .content .tvc img { width: 100%; height: 100%; }*/

/*.bunga-container.bunga.kodomo-product-beruang { bottom: 140px; }
.bunga-container.bunga.kodomo-product-beruang img { width: 240px; }
.bunga-container.bunga.kodomo-product-jerapah { bottom: 235px; left: 110px; }
.bunga-container.bunga.kodomo-product-jerapah img { width: 80px; }
.bunga-container.bunga.kodomo-product-kelinci { bottom: 260px; }
.bunga-container.bunga.kodomo-product-kelinci img { width: 80px; }

.bunga-container.bunga.kodomo-product-tiger { right: -30px; bottom: 115px; }
.bunga-container.bunga.kodomo-product-tiger img { width: 200px; }
.bunga-container.bunga.kodomo-product-gajah { right: 80px; bottom: 220px; }
.bunga-container.bunga.kodomo-product-gajah img { width: 110px; }*/

#popup1 { width:986px; height: 465px; background-image:url(../img/bg-popup.png); }
#popup1 .content { font-family: "Schoolbell"; font-size: 15px; color: #254188; }
#popup1 .content .title { font-size: 45px; }
#popup1 .content .article { font-size: 18px; max-height: 200px; overflow-y: auto; }
#popup1 .content img { margin-top: 40px; }
#popup1 .content { margin-top: 130px; margin-left: 150px; }
#popup1 .close-popup { background: url(../img/close-popup.png); position: absolute; top: 21px; width: 47px; height: 47px; right: 37px; }

#popup-tvc { width:650px; height: 620px; background-image:url(../img/bg-tvc.png); }
#popup-tvc .content .frame { top: 180px; left: 50px; position: absolute; z-index: -1; }
#popup-tvc .content .play-button { position: absolute; background: url(../img/play-button.png) no-repeat; width: 154px; height: 148px; top: 290px; left: 210px; }
#popup-tvc .close-popup { background: url(../img/close-popup.png); position: absolute; top: 145px; width: 47px; height: 47px; right: 60px; }
/* END SHOPS */

/* BIRTHDAY */
body.birthday { background: url(../img/bg-birthday-real.jpg) no-repeat; background-size: cover; }
.birthday .list-container { margin-top: 130px; font-family: "Schoolbell"; font-size: 22px; color: #fff; left: 13%; }
.birthday #list-anak .content-anak .box-image { background-size: cover; background-position: 50% 50%; width: 150px; height: 150px; margin: 0 auto; overflow: hidden; position: relative; border-radius: 211px; border: #e9e9e9 5px solid; }
.birthday #list-anak .content-anak .button-name { background: #fe1f67; border-radius: 25px; margin: 15px 20px 2px 20px; }
.birthday #list-anak .content-anak .button-name a { color: #fff; /*padding: 2px 20px 2px 20px;*/ text-decoration: none;  }

.birthday .list-container .nbs-flexisel-nav-left { background: url(../img/prev-product.png) no-repeat; }
.birthday .list-container .nbs-flexisel-nav-right { background: url(../img/next-product.png) no-repeat; right: -95px; }

/*.bunga-container.bunga.birthday-tiger { bottom: 145px; left: 60px; }
.bunga-container.bunga.birthday-tiger img { width: 115px; }
.bunga-container.bunga.birthday-gajah { bottom: 215px; left: 170px; }
.bunga-container.bunga.birthday-gajah img { width: 115px; }
.bunga-container.bunga.birthday-beruang { right: 128px; bottom: 141px; }
.bunga-container.bunga.birthday-beruang img { width: 125px; }*/

#popup-birthday { width:1022px; height: 586px; background-image:url(../img/bg-popup-birthday.png); }
#popup-birthday .content { top: 44%; position: absolute; left: 22%; }
#popup-birthday .content .img-anak { background-size: cover; background-position: 50% 50%; width: 175px; height: 175px; margin: 0 auto; overflow: hidden; position: relative; border-radius: 211px; }
#popup-birthday .content .title { font-size: 45px; font-weight: bold; }
#popup-birthday .content .title span.nickname { color: #f01c1c; }
#popup-birthday .content .share-card { color: #000; font-size: 18px; font-weight: bold; margin-top: 15px; float: left; }
#popup-birthday .content .icon { width: 30px; height: 30px; display: block; float: left; margin-right: 2px; margin-top: 15px; }
#popup-birthday .content .icon.twitter { background: url(../img/img-share.png); margin-left: 10px; }
#popup-birthday .content .icon.fb { background: url(../img/img-share.png) 29px; }
#popup-birthday .close-popup { background: url(../img/close-popup.png); position: absolute; top: 187px; width: 47px; height: 47px; right: 175px; }
/* END BIRTHDAY */

/* HEALTH */
body.health { background: url(../img/bg-health-real.jpg) no-repeat; background-size: cover; }
.health .wrapper { height: 100%; }
.health .vaksin-container { margin-top: 205px; margin-left: 200px; }
.health .vaksin-container ul.list-vaksin { list-style-type: none; color: #fff; font-family: "Schoolbell"; font-size: 17px; }
.health .vaksin-container ul.list-vaksin li { margin-bottom: 10px; }
.health .vaksin-container ul.list-vaksin li a { color: #fff; text-decoration: none; }
.health .vaksin-container ul.list-vaksin li + .tooltip > .tooltip-inner { color: #000; background-color: #fff; }
.health .vaksin-container ul.list-vaksin li + .tooltip > .tooltip-arrow { border-left-color:#fff; }
/* END HEALTH */

/* FUN CORNER */
body.fun-corner { background: url(../img/bg-fun-real.jpg) no-repeat; background-size: cover; }
.fun-corner .wrapper .container .list-container { margin-top: 60px; margin-left: 93px; font-family: "Schoolbell"; font-size: 17px; color: #fff; }
ul.list-bermain li .box-image .thumb { margin: 0 auto; max-width: 120px; height: 303px; }
ul#list-bermain li .box-image .thumb { max-width: 200px; height: 200px; }
ul#list-bermain li .box-image .thumb img { height: 160px; width: 140px; margin-top: 18px; margin-left: -17px; }
ul#list-bermain li .button-link a { padding: 5px 22px; background: #4b3790; }

.fun-corner .list-container .nbs-flexisel-nav-left { left: -45px; background: url(../img/prev-product.png) no-repeat; }
.fun-corner .list-container .nbs-flexisel-nav-right { background: url(../img/next-product.png) no-repeat; right: -95px; }

#popup-fun { width:842px; height: 467px; background-image:url(../img/bg-popup-fun-corner.png); font-size: 25px; color: #000; text-align: center; }
#popup-fun .content { margin-top: 180px; margin-left: 213px; }
#popup-fun .close-popup { background: url(../img/close-popup.png); position: absolute; top: 100px; width: 47px; height: 47px; right: 50px; }
#popup-fun #embbed { border: #c4f7ff 2px solid; border-radius: 3px; }
#fun-container .radio-answer { float: left; width: 50%; text-align: left; color: #ec2028; }

label { display: inline-block; cursor: pointer; position: relative; padding-left: 25px; margin-right: 15px; font-size: 25px; color: #ec2028; }  
input[type=radio] { display: none; }
label:before { content: ""; display: inline-block; width: 16px; height: 16px; margin-top: 10px; margin-right: 10px; position: absolute; left: 0; background-color: #fff; border: #ec2028 2px solid; box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); border-radius: 10px; }
.radio label:before { border-radius: 8px; }    
input[type=radio]:checked + label:before { content: "\2022"; color: #ec2028; font-size: 40px; text-align: center; line-height: 15px; }  
/* END FUN CORNER */

/* CHARACTER */
body.character { background: url(../img/bg-character-real.jpg) no-repeat; background-size: cover; }

/*.bunga-container.bunga.character-jerapah { bottom: 110px; left: 50px; }
.bunga-container.bunga.character-jerapah img { width: 125px; }
.bunga-container.bunga.character-dodo { left: 35%; top: 45%; }
.bunga-container.bunga.character-dodo img { width: 150px; }
.bunga-container.bunga.character-berber { right: 160px; top: 45%; }
.bunga-container.bunga.character-berber img { width: 125px; }*/
.bunga-container.character-name.name-1 { background: url(../img/character-background-name.png) no-repeat; width: 77px; height: 77px; top: 60%; left: 12%; }
.bunga-container.character-name.name-2 { background: url(../img/character-background-name.png) no-repeat -78px; width: 77px; height: 77px; top: 46%; left: 30%; }
.bunga-container.character-name.name-3 { background: url(../img/character-background-name.png) no-repeat -157px; width: 77px; height: 77px; top: 24%; right: 32%; }
.bunga-container.character-name.name-4 { background: url(../img/character-background-name.png) no-repeat -313px; width: 77px; height: 77px; right: 7%; top: 45%;}
.bunga-container.character-name.name-5 { background: url(../img/character-background-name.png) no-repeat -235px; width: 77px; height: 77px; bottom: 12%; right: 19%;}
/* END CHARACTER */

@-webkit-keyframes moveclouds { 0% {margin-left: 1200px;} 100% {margin-left: -1200px;} }
@-moz-keyframes moveclouds { 0% {margin-left: 1200px;} 100% {margin-left: -1200px;} }
@-o-keyframes moveclouds { 0% {margin-left: 1200px;} 100% {margin-left: -1200px;} }

@-webkit-keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-moz-keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-ms-keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-ms-keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-o-keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@keyframes bungaterbang {
  0%,100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}